<!--<ion-side-menus>
    
      <ion-side-menu-content>
            <ion-view>
            <h1>Hello World</h1>
          </ion-view>
      </ion-side-menu-content>
    
<ion-side-menu side="right" class="has-subheader">
  <!<ion-list >
    <ion-item>Vignesh</ion-item>
    <ion-item>Kishan</ion-item>
    <ion-item>Kiran</ion-item>
  </ion-list>-->
<!--<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    
    <img ng-src="{{chat.face}}" style="width: 200px; height: 200px">
    <p>
      {{chat.lastText}}
    </p>
   </ion-content>
</ion-view>
 -->  
 <ion-view>
  <ion-content close-option>
   
   <div class="list" >

  <a class="item item-avatar item-icon-left item-button-right " ng-click="modal.show()" >
     
     
     <i class="icon ion-android-bulb" ></i>
     <h2>Light</h2>
    <ul>
    <li><p>No. of Lights     : 3</p></li>
    <li><p>No. of Lights On  : 1</p></li>
    </ul>
    
   <!--<button class="button button-clear" style="width: 50px;height:100%" ng-click="showPopup()">
    <i class="icon ion-power"></i>
    </button>
   -->
    <!--   <ul>
    <li><p>No. of Lights     : 3</p></li>
    <li><p>No. of Lights On  : 1</p></li>
    </ul>
    </div>-->
    </a>
    <a class="item item-avatar item-icon-left">
    <i class="icon ion-nuclear" ng-click="showPopup2()"></i>
    <h2>Fan</h2>
    <ul>
    <li><p>No. of Fans     : 2</p></li>
    <li><p>No. of Fans On  : 1</p></li>
    </ul>
    </a>
  
  <!--<ion-list can-swipe="listCanSwipe" >
    <ion-item class="card item-avatar">
     <img src="img/light.jpg">
    <h2>Light</h2>
    <ul>
    <li><p>No. of Lights     : 3</p></li>
    <li><p>No. of Lights On  : 1</p></li>
    </ul>
   <ion-option-button class="text-center circle bg-on"
                       ng-click="share(item)">
      Share
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
  
  </ion-item>
</ion-list>-->
  <!--<div class="item button-bar">
    <button class="button button-clear button-positive">Schedule</button>
    <button class="button button-clear button-positive"> Control </button>
    <button class="button button-clear button-positive">Feedback</button>
  </div>
-->
  
</div>
  <!--  <div class="text-center circle" ng-click="change()" ng-class="{'bg-on': toggle, 'bg-off': !toggle}">
      {{chat.lastText}}
    </div>-->
  </ion-content>
</ion-view>