<ion-modal-view >
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        
      <h1 class="title">Lights</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-close-circled"></i></button>

  </ion-header-bar>
  <!--<ion-content class="padding">
    <div class="row padding">
      <h2 class="text-center col col-50">Turn All Lights</h2>
    <div class="button-bar buttons">
        <div class="button text-center button-balanced">
          ON
        </div>
        <div class="button button-dark">
          Off
        </div>
    </div>
    </div>
  </ion-content>
   -->    
</ion-modal-view>
    
