x<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-light tabs-positive ">

  <!-- Dashboard Tab -->
  <ion-tab title="Schedule" class="icon-left" icon-off="ion-ios-alarm" icon-on="ion-ios-alarm"  href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Control" icon-off="ion-power" icon-on="ion-power" href="#/tab/chats/0">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Feedback" href="#/tab/account" icon-off="ion-stats-bars" icon-on="ion-stats-bars">
    <ion-nav-view name="tab-account"  ></ion-nav-view>
  </ion-tab>


</ion-tabs>
